<!DOCTYPE html>
<html lang="pl">
<head th:replace="~{fragments/head :: head('Main', ~{::.page-resources})}">
    <th:block class="page-resources"></th:block>
</head>
<body>

    <header th:replace="~{fragments/header}"></header>

    <main>
        <article>
            <p>Witaj w Gym Progress Tracker! To narzędzie zostało stworzone, 
               aby pomóc Ci śledzić postępy w treningu siłowym i osiągać swoje cele fitness. 
               Dzięki naszej aplikacji możesz łatwo zarządzać swoim planem treningowym, 
               monitorować wyniki i utrzymywać motywację na wysokim poziomie.</p>
        </article>
    </main>

    <footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
