<!DOCTYPE html>
<html lang="pl">
<head th:replace="~{fragments/head :: head('Plan', ~{::.page-resources})}">
    <link class="page-resources" rel="stylesheet" th:href="@{/css/list.css}">
    <link class="page-resources" rel="stylesheet" th:href="@{/css/exercise.css}">
</head>
<body>

    <header th:replace="~{fragments/header}"></header>

    <main>

        <a type="button" class="btn-link margin-bottom-md" href='/plan/plan-creator'>Edytuj swój plan</a>

        <form method="post">
            <div class="day-selector" th:if="${workoutPlan != null}">
                <th:block th:each="i : ${#numbers.sequence(1, workoutPlan.daysPerWeek)}">
                    <button type="submit"
                            th:formaction="@{/plan/{day}(day=${i})}"
                            th:text="'Dzień ' + ${i}"
                            th:class="${i == currentDay} ? 'day-button-glow' : 'day-button'">
                    </button>
                </th:block>
            </div>
        </form>

        <div th:if="${workoutPlan != null && currentDay != 0}" class="exercises-container">
            <div th:each="exercise : ${exercises}" class="exercise-card">
                <div class="exercise-header">
                    <i class="bi bi-activity exercise-icon"></i>
                    <h3 th:text="${exercise.exerciseName}">Nazwa ćwiczenia</h3>
                </div>

                <div class="exercise-details">
                    <div class="detail-item">
                        <span class="detail-label">Serii</span>
                        <span class="detail-value" th:text="${exercise.targetSets}">0</span>
                    </div>
                    <div class="detail-item">
                        <span class="detail-label">Parametr</span>
                        <span class="detail-value"
                              th:text="${exercise.trackingParameter.name() == 'REPETITIONS' ? 'Powtórzenia' :
                                      (exercise.trackingParameter.name() == 'TIME' ? 'Czas' :
                                      (exercise.trackingParameter.name() == 'DISTANCE' ? 'Dystans' : 'Kalorie'))}">
                            Powtórzenia
                        </span>
                    </div>
                </div>

                <div th:if="${exercise.notes != null && !exercise.notes.isEmpty()}" class="exercise-notes">
                    <i class="bi bi-sticky"></i>
                    <p th:text="${exercise.notes}">Tutaj pojawią się notatki do ćwiczenia...</p>
                </div>
            </div>
        </div>
        <div th:if="${workoutPlan == null}">
            <h2>Nie utworzyłeś jeszcze swojego planu treningowego. Utwórz go klikając przycisk utwórz plan treningowy!</h2>
        </div>
    </main>

    <footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
