<!DOCTYPE html>
<html lang="pl">
<head th:replace="~{fragments/head :: head('Plan', ~{::.page-resources})}">
    <link class="page-resources" rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>

    <header th:replace="~{fragments/header}"></header>

    <main>
        <li><a href="plan_creator.html">Edytuj swój plan</a></li>
        <div>
            <div class="day-selector">
                <input type="radio" id="day1" name="chosenDay" value="1" checked>
                <label for="day1" class="day-button">Dzień 1</label>

                <input type="radio" id="day2" name="chosenDay" value="2">
                <label for="day2" class="day-button">Dzień 2</label>

                <input type="radio" id="day3" name="chosenDay" value="3">
                <label for="day3" class="day-button">Dzień 3</label>

                <input type="radio" id="day4" name="chosenDay" value="4">
                <label for="day4" class="day-button">Dzień 4</label>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
