<!DOCTYPE html>
<html lang="pl">
<head th:replace="~{fragments/head :: head('Plan', ~{::.page-resources})}">
    <link class="page-resources" rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>

    <header th:replace="~{fragments/header}"></header>

    <main>
        <div th:if="${warningMessage}" class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i> <span style="color: yellow" th:text="${warningMessage}"></span>
        </div>
        <li><a href="/plan/plan-creator">Edytuj swój plan</a></li>
        <div>
            <div class="day-selector" th:if="${plan != null}">
                <th:block th:each="dayNum : ${#numbers.sequence(1, plan.daysPerWeek)}">

                    <input type="radio"
                           th:id="'day' + ${dayNum}"
                           name="chosenDay"
                           th:value="${dayNum}"
                           th:checked="${dayNum == 1}">
                    <label th:for="'day' + ${dayNum}"
                           class="day-button"
                           th:text="'Dzień ' + ${dayNum}">Dzień X</label>

                </th:block>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
