<!DOCTYPE html>
<html lang="pl">
<head th:replace="~{fragments/head :: head('Gym Progress Tracker - Autoryzacja', ~{::.page-resources})}">
    <link class="page-resources" rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>

    <header th:replace="~{fragments/header}"></header>

    <main>
        <div class="auth-container">
            <div class="auth-card" id="register-card">
                <div class="auth-card-header">
                    <h2 class="auth-title">Stwórz konto</h2>
                </div>

                <form th:action="@{/register}" th:object="${user}" method="POST">
                    <div class="auth-card-body">

                        <div class="field-container wide">
                            <label class="field-label" for="register-username">Nazwa użytkownika</label>
                            <input type="text" id="register-username" th:field="*{username}" class="field-input" placeholder="np. tytan_silowni" required>
                        </div>
                        <span class="error-message"
                              th:if="${#fields.hasErrors('username')}"
                              th:errors="*{username}"
                              style="color: red; font-size: 0.85rem; margin-top: 5px; display: block;">
                        </span>

                        <div class="field-container wide">
                            <label class="field-label" for="register-email">Adres E-mail</label>
                            <input type="email" id="register-email" th:field="*{email}" class="field-input" placeholder="np. kontakt@gymtracker.pl" required>
                        </div>
                        <span class="error-message"
                              th:if="${#fields.hasErrors('email')}"
                              th:errors="*{email}"
                              style="color: red; font-size: 0.85rem; margin-top: 5px; display: block;">
                        </span>

                        <div class="field-container wide">
                            <label class="field-label" for="register-password">Hasło</label>
                            <input type="password" id="register-password" th:field="*{password}" class="field-input" placeholder="Min. 8 znaków" required>
                        </div>

                        <div class="auth-actions">
                            <button type="submit" class="button btn-primary">Zarejestruj się</button>
                        </div>
                    </div>
                </form>
                
                <div class="auth-card-footer">
                    <p>Masz już konto? <a href="login.html" class="auth-link">Zaloguj się</a></p>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
